@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-0: 220 20% 10%;
    --dark-1: 220 15% 15%;
    --dark-2: 220 10% 20%;

    --accent: 42 100% 50%;
  }

  @font-face {
    font-family: "planetkosmos";
    src: url("/fonts/PlanetKosmos/planetkosmos.ttf") format("woff2");
  }
}
