---
import Logo from '../Logo.astro';

interface Props {
  hidden?: boolean;
}

const { hidden = false } = Astro.props;
---

{
    !hidden &&
    <div class="mb-12"></div>
    <div class="fixed top-0 w-full px-large py-base bg-dark-0">
      <Logo />
    </div>
}
