---
import Logo from './Logo.astro';

interface Props {
  hidden?: boolean;
  darkLogo?: boolean;
}

const { hidden = false, darkLogo } = Astro.props;
---

{
    !hidden &&
    <div class="mb-20"></div>
    <div class="fixed top-0 w-full p-4 shadow-lg bg-dark-1">
      <Logo class='w-36' />
    </div>
}
