---
import Logo from './Logo.astro';

interface Props {
  hidden?: boolean;
  darkLogo?: boolean;
}

const { hidden = false, darkLogo } = Astro.props;
---

{
    !hidden &&
    <div class="mb-20"></div>
    <div class="fixed top-0 w-full p-base outline outline-4 outline-offset-4 outline-accent shadow-lg bg-accent">
      <Logo class='w-24 md:w-32' dark />
    </div>
}
