---
import Logo from './Logo.astro';

interface Props {
  hidden?: boolean;
  darkLogo?: boolean;
}

const { hidden = false, darkLogo } = Astro.props;
---

{
    !hidden &&
    <div class="mb-12"></div>
    <div class="fixed top-0 w-full p-base shadow-lg bg-accent">
      <Logo class='text-xl' dark={darkLogo} />
    </div>
}
