---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/navigation/SearchBar.svelte"
import Image from "astro/components/Image.astro";

import HeroBackground from "../images/hero-background.png"
---

<Layout pageTitle="Santai.gg" hiddenNavbar>
  <main>
    <!-- Hero background -->
    <Image
      src={HeroBackground}
      alt={"Spectre Divide - Santai spectators cheering."}
      class="absolute size-full object-cover opacity-10 blur-md mix-blend-color-dodge saturate-0 pointer-events-none"
    />

    <div class="flex h-[50lvh] mx-large">
      <div class="flex flex-col w-full max-w-screen-sm m-auto">
        <span class="mx-auto mb-large select-none text-4xl tracking-wider font-planetkosmos text-white">santai<span class="text-xl">.</span>gg</span>
        <SearchBar />
      </div>
    </div>
  </main>
</Layout>
