---
import Layout from "../layouts/Layout.astro";
import Searchbar from "../components/navigation/SearchBar.svelte"
---

<Layout pageTitle="Santai.gg">
  <main>
    <div class="flex w-full h-[50lvh]">
      <span class="m-auto select-none text-3xl md:text-5xl font-planetkosmos text-white">santai gg</span>
    </div>
  </main>
</Layout>
