---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Santai.gg">
  <main>
    <div class="flex w-full h-[50lvh]">
      <span class="m-auto select-none text-[8vw] md:text-[6vw] font-planetkosmos text-white">santai gg</span>
    </div>
  </main>
</Layout>
