---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/navigation/SearchBar.svelte"
import Image from "astro/components/Image.astro";

import HeroBackground from "../images/hero-background.png"
---

<Layout pageTitle="Santai.gg" hiddenNavbar>
  <main>
    <div class="flex flex-col w-full h-[50lvh]">
      <Image
        src={HeroBackground}
        alt={"Spectre Divide - Santai spectators cheering."}
        class="absolute size-full object-cover opacity-25 blur-md mix-blend-color-dodge saturate-0 pointer-events-none"
      />
      <span class="m-auto mb-8 select-none text-3xl md:text-5xl font-planetkosmos text-white">santai gg</span>
      <div class="flex w-full">
        <SearchBar className="mx-auto" />
      </div>
    </div>
  </main>
</Layout>
