---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/navigation/SearchBar.svelte"
---

<Layout pageTitle="Santai.gg">
  <main>
    <div class="flex flex-col w-full h-[50lvh]">
      <span class="m-auto mb-8 select-none text-3xl md:text-5xl font-planetkosmos text-white">santai gg</span>
      <div class="flex w-full">
        <SearchBar className="mx-auto" />
      </div>
    </div>
  </main>
</Layout>
