@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  
  svg {
  /*   display: none; */
    height: 0;
    width: 0;
    position: absolute;
    animation: test 1s;
  }
  
  @keyframes test {
    0% {
      height: 0;
    }
    100% {
      height: 0;
    }
  }
  
  .container {
    display: flex;
    height: 100%;
    padding: 0;
  }
  
  .video {
    filter: url(#filter1);
    width: 100%;
    object-fit: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
  
  .color {
    background: linear-gradient(90deg, black 10%, white);
    filter: url(#filter);
    color: white;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    a {
      color: white;
    }
  }
}
