---
export const prerender = false;
import BackgroundImage from "../../components/cosmetic/BackgroundImage.astro";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

const playerName = slug;
---

<Layout pageTitle={"Santai.GG | " + playerName}>
    <main>
      <BackgroundImage imagePath="/src/assets/background-03.jpg" altText="Spectre Divide - player aiming a revolver." />
      {playerName}


      <a href={"https://steamcommunity.com/profiles/"}>STEAM PROFILE</a>
    </main>
  </Layout>
  