---
export const prerender = false;
import BackgroundImage from "../../components/cosmetic/BackgroundImage.astro";
import Layout from "../../layouts/Layout.astro";

const playerName = "Player Name"
---

<Layout pageTitle={"Santai.gg | " + playerName} hiddenNavbar>
    <main>
      <BackgroundImage imagePath="/src/assets/background-03.jpg" altText="Spectre Divide - player aiming a revolver." />

    </main>
  </Layout>
  