---
import BackgroundImage from "../../components/cosmetic/BackgroundImage.astro";
import Constrict from "../../components/blocks/Constrict.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout pageTitle="Santai.gg | Leaderboard">
  <main>
    <BackgroundImage imagePath="/src/assets/background-01.png" altText="Spectre Divide - players clearing site." class="brightness-125" />

    <Constrict class="mt-large mx-large">
      <h1 class="text-6xl text-light-2 font-dharmagothic">Player Leaderboard</h1>
    </Constrict>
  </main>
</Layout>
